<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><br/>
        <%= @user.profile %><br/>
        <%= @user.area %>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
   
    <% if @user.following_relationships.any? %>
      <h3>Microposts (<%= @user.following_relationships %>)</h3>
      <ol class="microposts">
        <%= render partial:'following_relationships/following_relationship', collection: @following_relationships %>
      </ol>
    <% end %>
  </div>
 </div>